# Python
__pycache__/
**/*.py[cod]
*$py.class
*.egg-info
cynthion/python/**/build/

# Rust
cynthion/rust/**/target/
firmware/**/target/
**/Cargo.lock
**/*.rs.bk
firmware/moondancer-pac/build/

# Scala
.metals/
.scalafmt.conf

# Environments
**/.python-version

# Operating system spew
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor junk
*.swp
*.sublime-project
*.sublime-workspace
.vscode
.idea

# ctags output
tags

# files involved in generating a release
cynthion/python/assets/*.bin
cynthion/python/assets/*.bit
cynthion/python/assets/**/*.bit
cynthion/python/VERSION
cynthion/python/dist
cynthion/python/host-packages
cynthion/python/.eggs
*.tar.xz
*.zip

# Never include unencrypted deploy keys.
id_deploy
id_deploy.pub

# Docs
/docs/build/