# Build outputs
*.bin
*.d
*.elf
*.hex
*.srec
*.dfu
firmware/lunasoc-pac/build/
gateware/memory.x
gateware/moondancer_soc/build
host/build/

# Rust
**/target/
Cargo.lock
**/*.rs.bk

# Scala
.metals/
.scalafmt.conf

# CMakeInternals
CMakeFiles
CMakeCache.txt

# Compiled python files
__pycache__/
*.py[cod]
*$py.class
*.egg-info
host/dist

# Environments
**/.python-version

# Operating system spew
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor junk
*.swp
*.sublime-project
*.sublime-workspace
.vscode
.idea

# ctags output
tags

# ccls output
.ccls-cache
.ccls
compile_commands.json

# files involved in generating a release
VERSION
dist
host-packages
host/.eggs
release-files
deploy-files
firmware-bin
*.tar.xz
*.zip

# Never include unencrypted deploy keys.
id_deploy
id_deploy.pub
